* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 14px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.5em;
}

p {
    font-size: 1em;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: inherit;
  height: inherit;
  position: relative;
}

/* Main */
main {
  background-color: #000;
  min-height: 100vh;
  position: relative;
}

main .background_wave {
  position: absolute;
  top: 0;
  right: 0;
}

main nav {
  overflow: auto;
  position: relative;
  z-index: 10;
}

main nav ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

main nav ul li {
  display: inline-block;
  padding: 1em;
}

main nav ul li a {
  display: inline-block;
  position: relative;
  line-height: 3em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
}

main nav ul li a::after {
  content: "";
  display: block;
  border-bottom: 2px solid transparent;
  /* You will have animation was lower fps(less smoother) */
  /* width: 0; */

  /* Better version(smooth animation) */
  width: 50%;
  transform: translate(-100%, 0);
  /* ========== */
  transition: 0.3s;
  position: absolute;
  bottom: 0;
}

main nav ul li a:hover::after,
main nav ul li a.active::after {
  border-bottom: 2px solid #03720c;
  /* Lower fps(less smoother) */
  /* width: 50%; */

  /* Smooth version */
  transform: translate(0, 0);
}

/* Read this article */
/* https://www.paulirish.com/2012/why-moving-elements-with-translate-is-better-than-posabs-topleft/ */

main .main_details {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #fff;
}

/* ================== */
