* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.4em;
}

h1 {
  font-size: 4em;
  line-height: 1.4em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.4em;
}

h3 {
  font-size: 2em;
  line-height: 1.4em;
}

h4 {
  font-size: 1.5em;
  line-height: 1.4em;
}

h5 {
  font-size: 1em;
  line-height: 1.4em;
}

h6 {
  font-size: 0.5em;
  line-height: 1.4em;
}

p {
    font-size: 1.3em;
    line-height: 1.4em;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: inherit;
  height: inherit;
  position: relative;
}

/* Main */
main {
  background-color: #000;
  min-height: 100vh;
  position: relative;
}

main .background_wave {
  position: absolute;
  top: 0;
  right: 0;
}

main nav {
  overflow: auto;
  position: relative;
  z-index: 10;
}

main nav ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

main nav ul li {
  display: inline-block;
  padding: 1em;
}

main nav ul li a {
  display: inline-block;
  position: relative;
  line-height: 3em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
}

main nav ul li a::after {
  content: "";
  display: block;
  border-bottom: 2px solid transparent;
  /* You will have animation was lower fps(less smoother) */
  /* width: 0; */

  /* Better version(smooth animation) */
  width: 50%;
  transform: translate(-100%, 0);
  /* ========== */
  transition: 0.3s;
  position: absolute;
  bottom: 0;
}

main nav ul li a:hover::after,
main nav ul li a.active::after {
  border-bottom: 2px solid #03720c;
  /* Lower fps(less smoother) */
  /* width: 50%; */

  /* Smooth version */
  transform: translate(0, 0);
}

/* Read this article */
/* https://www.paulirish.com/2012/why-moving-elements-with-translate-is-better-than-posabs-topleft/ */

main .main_details {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #fff;
}

/* ================== */

/* Why */
.why {
    padding: 6em 0;
}

.why .reason_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reason_list__item {
    overflow: auto;
    margin-bottom: 5em;
}

.reason_list__item > div {
    width: 40%;
    margin: 0 5%;
    position: relative;
}

.reason_list__item .image_wrapper {
    float: left;
    position: relative;
}

.reason_list__item .image_wrapper .img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100%;
    overflow: hidden;
}

.reason_list__item .image_wrapper .img img {
    position: absolute;
    width: 130%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.3);
}

.reason_list__item .image_wrapper h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin: 0;
    font-size: 7em;
}

.reason_list__item .description_wrapper {
    float: right;
    position: relative;
    padding-bottom: 40%;
}

.reason_list__item:nth-child(2n) .image_wrapper {
    float: right;
}

.reason_list__item:nth-child(2n) .description_wrapper {
    float: left;
}

.reason_list__item .description_wrapper .description {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.reason_list__item .description_wrapper .description h2 {
    font-size: 4em;
    margin: 0;
    color: #e27005;
}

.reason_list__item:nth-child(2n) .description_wrapper .description h2 {
    color: #87a83a;
}

.reason_list__item .description_wrapper .description p {
    font-weight: 300;
}

.reason_list__item .description_wrapper .description p:last-child {
    margin-bottom: 0;
}

/* ================== */