/* Dark blue: #002B45 */
/* light blue: #005479 */
/* orange: #F5CBAF */

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.4em;
}

h1 {
  font-size: 5em;
  line-height: 1.4em;
}

h2 {
  font-size: 4em;
  line-height: 1.4em;
}

h3 {
  font-size: 3em;
  line-height: 1.4em;
}

h4 {
  font-size: 2em;
  line-height: 1.4em;
}

h5 {
  font-size: 1em;
  line-height: 1.4em;
}

h6 {
  font-size: 0.5em;
  line-height: 1.4em;
}

p {
  font-size: 1.3em;
  line-height: 1.4em;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: inherit;
  height: inherit;
}

/* Main */
main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to top, #002b45, #005479);
}

main::after {
  content: "8";
  display: block;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(0, -50%) rotate(-90deg);
  z-index: 5;
  font-size: 95vw;
  color: #fff;
  font-family: "Merriweather";
  opacity: 0.1;
}

.main_background_img {
  position: absolute;
  height: 120vh;
  width: 120vh;
  top: 0;
  left: 0;
  transform: translate(-60vh, -60vh);
  overflow: hidden;
  border-radius: 50%;
}

.main_background_img::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70vh;
  width: 70vh;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: #005479;
  border-radius: 50%;
}

.main_background_img img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-40%, 0);
  height: 100%;
}

main nav {
  overflow: auto;
  position: relative;
  z-index: 20;
}

main nav .nav_list {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}

main nav .nav_list li {
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: bold;
  margin: 1em;
}

main nav .nav_list li:last-child {
  margin-right: 0;
}

main nav .nav_list li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1em 0;
  transition: 0.2s;
}

main nav .nav_list li a:hover {
  color: #a5c8d8;
}

main .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  max-width: 45vw;
}

main .content h1 {
  color: #fff;
}

main .content h3 {
  color: #f5cbaf;
}
/* ================== */

/* Agreements */
.agreement {
  padding: 3em 0;
}
.agreement h2 {
  text-align: center;
  color: #002b45;
}

.agreement h2 span {
  color: #f5cbaf;
}

.agreement h4 {
  text-align: center;
  color: #002b45;
}

.agreement ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 5em;
}

.agreement ul li {
  display: inline-block;
  padding: 3em;
}

.agreement ul li .icon_wrapper {
  background-color: #c2ada7;
  width: 130px;
  height: 130px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
}

.agreement ul li:nth-child(2) .icon_wrapper {
  background-color: #ebf2f5;
}

.agreement ul li:nth-child(3) .icon_wrapper {
  background-color: #f5cbaf;
}

.agreement ul li .icon_wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ================== */

/* Experience */
.experience {
  padding: 3em 0;
  background-color: #002b45;
  position: relative;
  overflow: hidden;
}

.experience::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(0, -50%);
  width: 70%;
  padding-bottom: 70%;
  border-radius: 50%;
  border: 4px dashed rgba(255, 255, 255, 0.7);
}

.experience h2 {
  color: #fff;
  max-width: 800px;
  position: relative;
  z-index: 5;
}

.experience h4 {
  color: #f5cbaf;
  position: relative;
  z-index: 5;
}

.experience .content .images {
  width: 56%;
  padding-bottom: 60%;
  display: inline-block;
  position: relative;
  z-index: 5;
}

.experience .content .images::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #f5cbaf;
}

.experience .content .images::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 20%;
  width: 50%;
  background-color: #a5c8d8;
}

.experience .content .images img {
  position: relative;
  top: 2em;
  width: 80%;
  position: absolute;
  z-index: 5;
}

.experience .content .images .rect {
  position: absolute;
  top: 40%;
  right: 2em;
  height: 50%;
  width: 35%;
  background-color: #4f5b8f;
}

.experience .content .details {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 2%;
  color: #fff;
}

.experience .content .details h3 span {
  color: #f5cbaf;
}

.experience .content .details p {
  font-weight: 300;
}
/* ================== */

/* confidence */
.confidence {
  padding: 3em 0;
  position: relative;
  overflow: hidden;
}

.confidence::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -10%;
  z-index: -1;
  transform: translate(0, -50%);
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  border: 4px dashed rgba(0, 43, 69, 0.7);
}

.confidence h2 {
  color: #002b45;
  max-width: 800px;
  position: relative;
  z-index: 5;
  margin-bottom: 0;
}

.confidence h2 span {
  color: #f5cbaf;
}

.confidence .content .details {
  display: inline-block;
  vertical-align: top;
  width: 56%;
  padding: 3% 0;
  color: #5b5b5b;
}

.confidence .content .details p {
  font-weight: 300;
  width: 60%;
  margin-bottom: 3em;
}

.confidence .content .images {
  width: 40%;
  padding-bottom: 40%;
  display: inline-block;
  position: relative;
  z-index: 5;
}

.confidence .content .images::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #f5cbaf;
}

.confidence .content .images::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5%;
  left: 0;
  height: 20%;
  width: 50%;
  background-color: #002b45;
}

.confidence .content .images img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  position: absolute;
  z-index: 5;
}

.confidence .content .buttons a {
    display: inline-block;
    width: 90%;
    height: 3em;
    max-width: 150px;
    background-color: #002b45;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
  }
  
  .confidence .content .buttons a:first-child {
    margin-right: 1em;
    position: relative;
  }
  
  .confidence .content .buttons a:first-child::after {
    content: "";
    display: block;
    width: 70px;
    height: 40px;
    background-color: #f5cbaf;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(45deg) translate(-10%, 100%);
  }
/* ================== */

/* reviews */
.reviews {
  background-color: #ebf2f5;
  padding: 3em 0;
  position: relative;
  overflow: hidden;
}

.reviews::before {
    content: '';
    display: block;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: 2px dashed #002b45;
    bottom: -20%;
    left: -20%;
    position: absolute;
}

.reviews::after {
    content: '';
    display: block;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: 2px dashed #002b45;
    top: 10%;
    right: -10%;
    position: absolute;
}

.reviews h2 {
    color: #002b45;
    text-align: center;
    position: relative;
    z-index: 10;
}

.reviews h2 span {
    color: #f5cbaf;
}

.reviews_list {
    position: relative;
    z-index: 10;
    list-style: none;
    padding: 5em 0 0;
    text-align: center;
}

.reviews_list__item {
    display: inline-block;
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 5em 1em 2em;
    margin: 0 2% 5em;
    position: relative;
    color: #3C3C3C;
}

.reviews_list__item .avatar {
    width: 30%;
    padding-bottom: 30%;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reviews_list__item .avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.reviews_list__item > p {
    margin: 0;
}

.reviews_list__item .rating {
    list-style: none;
    padding: 0;
    text-align: center;
}

.reviews_list__item .rating li {
    display: inline-block;
}

.reviews .buttons {
    text-align: center;
}

.reviews .buttons a {
    display: inline-block;
    width: 90%;
    height: 3em;
    max-width: 200px;
    background-color: #002b45;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}
/* ================== */

/* footer */
footer {
    background-color: #002b45;
    padding-bottom: 3em; 
}

footer .socials {
    text-align: center;
    list-style: none;
    padding: 2em 0;
    margin: 0
}

footer .socials li {
    display: inline-block;
}

footer .socials li a {
    display: inline-block;
    margin: 0 1em;
}

footer .socials li img {
    height: 20px;
}

footer hr {
    margin: 0;
}

footer .contacts {
    text-align: center;
    margin: 3em 0;
}

footer .contacts a {
    display: inline-block;
    margin: 0 1.5em;
    text-decoration: none;
    color: #F5CBAF;
}

footer .contacts a:hover {
    text-decoration: underline;
}

footer .contacts a img {
    position: relative;
    height: 2em;
    transform: translate(-10px, 0.625em);
}

footer > p,
footer > h5 {
    text-align: center;
    color: #fff;
}

footer > p {
    font-weight: 300;
}
/* ================== */
