
/* CSS Grid */
.grid_container {
    display: grid;
    width: 80%;
    margin: 0 auto;
    min-height: 400px;
    background-color: #2cb5e8;
    margin-bottom: 1em;
  }
  
  .item {
    background-color: #ff0;
    padding: 1em;
  }
  
  /* grid-template-columns, grid-template-rows */
  .col_and_rows {
    /* grid-template-columns: 150px auto 150px; */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    /* grid-template-rows: 100px auto 100px; */
  }
  
  .col_and_rows div {
    background-color: #ff0;
  }
  
  /* grid-template-areas */
  .areas {
    /* grid-template-areas: "header header header"
                         "article article aside"
                         "footer footer footer"; */
    /* grid-template-columns:  200px auto 200px; */
    /* grid-template-rows: 100px auto 100px; */
  }
  
  .areas .header {
    padding: 1em;
    background-color: #ff0;
    /* grid-area: header; */
  }
  
  .areas .article {
    padding: 1em;
    background-color: #f0f;
    /* grid-area: article; */
  }
  
  .areas .ads {
    padding: 1em;
    background-color: #0ff;
    /* grid-area: aside; */
  }
  
  .areas footer {
    padding: 1em;
    background-color: #00ff4c;
    /* grid-area: footer; */
  }
  
  /* Grid template */
  .template {
    /* grid-template: 100px auto 200px / 100px auto 100px; */
  }
  
  .template .item-1 {
    background-color: #00ff4c;
  }
  
  .template .item-2 {
    background-color: #74a382;
  }
  
  .template .item-3 {
    background-color: #ffee00;
  }
  
  .template .item-4 {
    background-color: #ff7b00;
  }
  
  .template .item-5 {
    background-color: #ff4800;
  }
  
  .template .item-6 {
    background-color: #0026ff;
  }
  
  .template .item-7 {
    background-color: #00e1ff;
  }
  
  .template .item-8 {
    background-color: #ff00d4;
  }
  
  .template .item-9 {
    background-color: #00ff37;
  }
  
  /* Grid-column-gap / Grid-row-gap /  Grid-gap */
  .gap {
    grid-template: 100px auto 200px / 1fr 2fr 1fr;
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 10px; */
    /* grid-gap: 10px 20px; */
  }
  
  /* justify_items */
  .justify_items {
    justify-content: stretch; /* Default */
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
  }
  
  /* align_items */
  .align_items {
    align-items: stretch; /* Default */
    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */
  }
  
  /* Place-items */
  
  .place_items {
    /* place-items: center center; */ /* align-items justify-items */
  }
  
  /* Justify-content */
  
  .justify_content {
    grid-template-columns: repeat(3, 100px);
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: stretch; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
  }
  
  /* align_content */
  .align_content {
    grid-template-rows: repeat(3, 100px);
    /* align-content: start; */
    /* align-content: center; */
    /* align-content: end; */
    /* align-content: stretch; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
  }
  
  /* place_content */
  
  .place_content {
    grid-template-columns: repeat(3, 100px);
    /* place-content: center center; */
  }
  
  /* Grid-auto-columns / Grid-auto-rows */
  
  .auto_col {
    min-height: 400px;
    height: 450px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-auto-flow: column; /* need to define flow to column */
    grid-template-rows: repeat(4, 1fr); /* and define row height */
    /* grid-auto-columns: 200px; */
  }
  
  .auto_row {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-auto-flow: row; /* May not be set as "row" is a default value */
    grid-template-columns: repeat(4, 1fr); /* but still need to define column width */
    /* grid-auto-rows: 200px; */
  }
  
  /* Grid-auto-flow */
  
  .auto_flow {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;  /* column / row / column dense / row dense */
  }
  
  .auto_flow .item-3 {
    grid-row-start: 2; /* for column dense */
    /* grid-column-start: 2;  /* for row dense */
  }
  
  /* Auto fill a grid */
  
  .auto_grid_fill {
    max-width: 1200px;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    background-color: #ddd;
    /* grid-auto-flow: dense; */
  }
  
  .auto_grid_fill .item {
    padding: 5px;
  }
  
  .auto_grid_fill .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .horizontal {
    grid-column: span 2;
    background-color: #ff7b00;
  }
  
  .vertical {
    grid-row: span 2;
    background-color: #00ff37
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #00e1ff;
  }
  
  /* Grid Items */
  
  /* Grid-column-start / Grid-column-end / Grid-row-start / Grid-row-end */
  .item_size {
    grid-template: repeat(4, minmax(100px, 1fr)) / repeat(5, minmax(100px, 1fr));
    grid-gap: 10px;
  }
  
  .item_size .item{
    /* grid-column-start: 2; */
    /* grid-column-end: 5; */
    /* grid-row-start: 2; */
    /* grid-row-end: 4; */
  }
  
  /* item_size_col_row */
  
  .item_size_col_row {
    grid-template: repeat(4, minmax(100px, 1fr)) / repeat(5, minmax(100px, 1fr));
    grid-gap: 10px;
  }
  
  .item_size_col_row .item {
    /* grid-column: 2 / 5; */ /* or 2, span(3) */
    /* grid-row: 2 / 4; */
  }
  
  /* justify_self  */
  
  .justify_self {
    grid-template: repeat(4, 100px) / repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .justify_self .justify {
    /* start | end | center | stretch */
    justify-self: stretch; /* default */ 
    /* justify-self: start;  */
    /* justify-self: end;  */
    /* justify-self: center;  */
  }
  
  /* align_self */
  .align_self {
    grid-template: repeat(4, 150px) / repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .align_self .align {
    /* start | end | center | stretch */
    align-self: stretch; /* default */ 
    /* align-self: start;  */
    /* align-self: end;  */
    /* align-self: center;  */
  }
  
  /* align_self */
  .place_self {
    grid-template: repeat(4, 150px) / repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .place_self .place {
    /* place-self: align-self justify-self */
    /* place-self: center stretch; */
  }
  
  
  