* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  padding: 110px 1em 1em;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  background-color: #2c87ff;
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
}

nav ul li a {
  display: block;
  padding: 1em;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(44, 135, 255);
}

nav ul li a.active {
  background-color: #fff;
  color: rgb(44, 135, 255);
}


/* Based on viewport size: min-width */
.based_on_min_width img {
  height: 200px;
}

.based_on_min_width figcaption {
  font-size: 1em;
}

/* `@media all and (min-width: 764px)` - is the same*/
@media (min-width: 764px) {
  /* .based_on_min_width img {
    height: 300px;
  }

  .based_on_min_width figcaption {
    font-size: 1.4em;
  } */
}

@media (min-width: 1024px) {
  /* .based_on_min_width img {
    height: 500px;
  }

  .based_on_min_width figcaption {
    font-size: 2em;
  } */
}

/* ====================== */

/* Based on viewport size: max-width */
.based_on_max_width img {
  height: 500px;
}

.based_on_max_width figcaption {
  font-size: 2em;
}

/* `@media all and (max-width: 1024px)` is the same */
@media (max-width: 1024px) {
  /* .based_on_max_width img {
    height: 300px;
  }

  .based_on_max_width figcaption {
    font-size: 1.4em;
  } */
}

@media (max-width: 768px) {
  /* .based_on_max_width img {
    height: 200px;
  }

  .based_on_max_width figcaption {
    font-size: 1em;
  } */
}

/* ====================== */

/* Based on viewport size: min-height */
.based_on_min_height img {
  height: 200px;
}

.based_on_min_height figcaption {
  font-size: 2em;
}

/* `@media all and (min-height: 1024px)` is the same */
@media (min-height: 400px) {
  /* .based_on_min_height img {
    height: 300px;
  }

  .based_on_min_height figcaption {
    font-size: 1em;
  } */
}

@media (min-height: 600px) {
  /* .based_on_min_height img {
    height: 400px;
  }

  .based_on_min_height figcaption {
    font-size: 1.4em;
  } */
}

/* ====================== */

/* Based on viewport size: min-height */
.based_on_max_height img {
  height: 400px;
}

.based_on_max_height figcaption {
  font-size: 2em;
}

/* `@media all and (max-height: 1024px)` is the same */
@media (max-height: 600px) {
  /* .based_on_max_height img {
    height: 300px;
  }

  .based_on_max_height figcaption {
    font-size: 1.4em;
  } */
}

@media (max-height: 400px) {
  /* .based_on_max_height img {
    height: 200px;
  }

  .based_on_max_height figcaption {
    font-size: 1em;
  } */
}

/* ====================== */

/* media_type_print: print */
.media_type_print img {
  height: 400px;
}

@media print {
  /* .media_type_print figure {
    height: 12cm;
    overflow: hidden;
    position: relative;
  }

  .media_type_print img {
    width: 100%;
    height: auto;
  } */
}

/* ====================== */

/* orientation */

/* landscape */
@media (orientation: landscape) {
  /* .orientation figure {
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .orientation img {
    width: 100%;
    height: auto;
  } */
}

/* portrait */
@media (orientation: portrait) {
  /* .orientation figure {
    border: 5px solid green;
  }

  .orientation figure img {
    width: 100%;
    height: auto;
  } */
}

/* ====================== */

/* resolution */
@media (max-resolution: 300dpi) {
  /* .resolution figure img {
    height: 300px;
    border: 5px solid green;
  } */
}

@media (max-resolution: 100dpi) {
  /* .resolution figure img {
    height: 300px;
    border: 5px solid red;
  } */
}
/* ====================== */

/* Float */
.float figure {
  background-color: #2c87ff;
  /* overflow: auto; */
}

.float figure img {
  height: 300px;
  /* float: right; */
  /* float: left; */
}

.float p {
  /* clear: both; */
}
/* ====================== */

/* Positioning */

/* ====================== */